<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCM</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="formCover">
            <form action="/dashboard" method="post">
                <h3>Login</h3>
                <hr/>
                <label></label>
                <input type="text">
                <label>
                </label>
                <input type="password">
                 <div class="formActions">
                     <a href="#">FORGOT PASSWORD?</a>
                     <button type="submit">LOGIN</button>
                 </div>
            </form>
        </div>
    </div>
    <div class="downBar">
        
    </div>
</body>
</html>