<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="formCover">
                <form action="" method="post">
                    <label>Username</label>
                    <input type="text" />
                    <label>password</label>
                    <input type="password">
                    <label>Repeat password</label>
                    <input type="password">
                    <label>Role</label>
                    <select>
                        <option>Container Manager</option>
                        <option>Agent</option>
                        <option>Security Officer</option>
                    </select>
                    <button>Create Account</button>
                    <div class="link">
                      <a href="/">Already have an Account</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="right">

        </div>
    </div>
    <div class="downBar">
        
    </div>
</body>
</html>